:root {
    --primary-color: rgb(244, 247, 245);
    --secondary-color: rgb(150, 100, 100);
    --card-bg-color: rgb(255, 255, 255);
    --contrast-color: rgb(46, 44, 43);
    --font-wgt-reg: 400;
    --font-wgt-med: 500;
    --font-wgt-semibold: 600;
    --font-wgt-bold: 700;
    --trans-all-2ms: all 0.2s ease-in-out;
    --trans-all-4ms: all 0.4s ease-in-out;
}

html[data-theme='dark'] {
    --primary-color: rgb(46, 44, 43);
    --secondary-color: rgb(218, 191, 191);
    --card-bg-color: rgb(25, 24, 23);
    --contrast-color: rgb(244, 247, 245);
}


/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--contrast-color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
.button {
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    color: var(--contrast-color);
    background-color: var(--primary-color);
    font-weight: var(--font-wgt-med);
    cursor: pointer;
}

button,
.button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.icon-link {
    color: var(--contrast-color);
}

.icon-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
}

.logo {
    color: var(--primary-color);
    font-weight: var(--font-wgt-semibold);
}

.nav-item {
    transition: var(--trans-all-2ms);
}

.nav-item:hover {
    transform: scale(115%);
}

.nav-link {
    color: var(--primary-color);
    font-weight: var(--font-wgt-med);
}

.nav-drop {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    width: inherit;
    height: 60vh;
    transform: translateY(-115%);
    z-index: 0;
    transition: var(--trans-all-4ms);
}

.nav-list {
    flex-direction: column;
    gap: 1.5rem;
}

nav.open .nav-drop {
    transform: translateY(0);
}

.theme-btn {
    border: 3px solid rgb(46, 44, 43);
    padding: 0.5rem 1rem;
    transition: var(--trans-all-2ms);
}

.theme-btn:hover {
    scale: 105%;
}

.theme-btn-dark {
    background-color: rgb(46, 44, 43);
    color: rgb(244, 247, 245);
}

.theme-btn-light {
    background-color: rgb(244, 247, 245);
    color: rgb(46, 44, 43);
}

.menu-btn {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid transparent;
    width: 25px;
    height: 25px;
    transition: var(--trans-all-2ms);
}

.menu-btn:hover {
    scale: 110%;
}

.menu-bar {
    border: 1.5px solid var(--primary-color);
    border-radius: 100px;
    width: 100%;
    transition: var(--trans-all-4ms);
}

nav.open .menu-bar {
    position: relative;
}

nav.open .bar1 {
    top: 25%;
    transform: rotate(45deg);
}

nav.open .bar2 {
    opacity: 0;
}

nav.open .bar3 {
    bottom: 25%;
    transform: rotate(-45deg);
}

/* MAIN CONTENT - INDEX */
.index-container,
.socials, 
.btn-container {
    flex-direction: column;
    justify-content: space-evenly;
}

.index-container {
    height: 92vh;
    z-index: -1;
}

.iconify {
    color: var(--contrast-color);
    padding: 5px;
    font-size: 50px;
}

.technologies {
    display: none;
}

.social-link {
    border-radius: 10px;
    height: 50px;
}

.social-link:hover {
    background-color: var(--secondary-color);
}

.social-link:hover .social-icon {
    color: var(--primary-color);
}

.btn-container {
    justify-content: space-evenly;
}

.project-btn,
.resume-btn {
    text-align: center;
    width: 90%;
    height: 45%;
}