{% extends 'base.html'%}

{% block content %}
    <main class="index-container">
        <div class="placeholder-class">
            <div class="info">
                <div class="profile-img">
                    <img src="" alt="headshot of Grace Mills">
                </div>
                <div class="about-me">
                    <h1 class="name">Grace Mills</h1>
                    <p class="title">Software Developer</p>
                </div>
                <div class="socials flex">
                    <a href="https://www.linkedin.com/in/codebygrace" class="social-link" target="_blank">
                        <span class="iconify social-icon" data-icon="basil:linkedin-outline" alt="linkedin icon"></span>
                    </a>
                    <a href="https://www.github.com/codebygrace" class="social-link" target="_blank">
                        <span class="iconify social-icon" data-icon="uiw:github-o" alt="github icon"></span>
                    </a>
                    <a href="" class="social-link" target="_blank">
                        <span class="iconify social-icon" data-icon="solar:calendar-outline" alt="calendly icon (live chat)"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-container flex">
            <a href="{% url 'projects' %}" class="button project-btn">Projects</a>
            <a href="" class="button resume-btn">Resume</a>
        </div>

        <div class="technologies">
            <div class="tech-wrapper">
                <span class="iconify" data-icon="iconoir:html5"></span>
                <p class="tech-name">HTML</p>
            </div>
            <div class="tech-wrapper">
                <span class="iconify" data-icon="iconoir:css3"></span>
                <p class="tech-name">CSS</p>
            </div>
            <div class="tech-wrapper">
                <span class="iconify" data-icon="fa-brands:js-square"></span>
                <p class="tech-name">JavaScript</p>
            </div>
            <div class="tech-wrapper">
                <span class="iconify" data-icon="fa-brands:react"></span>
                <p class="tech-name">React (Learning)</p>
            </div>
            <div class="tech-wrapper">
                <span class="iconify" data-icon="fa6-brands:java"></span>
                <p class="tech-name">Java (Learning)</p>
            </div>
        </div>
    </main>
{% endblock %}